@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("https://images.unsplash.com/photo-1713182568612-58dd29b515b7?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card{
    width: 100%;
    max-width: 600px;
    background-color: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(5px);
    color: white;
    margin: 0;
    border-radius: 20px;
    padding: 40px 35px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
    text-align: center;
    border: 1.5px solid #00feba;
       
}

.search{
    width: 100%;
    display: flexs;
    align-items: center;
    justify-content: space-between;
}

.search h3{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:0 30px 10px 0;
    
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 25px;
    border-radius: 30px;
    font-size: 15px;
    height: 40px;
    flex: 1;
}

.search button{
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.weather{
    margin-top: 10px;
}

.details{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    font-size: 17px;
    font-weight: 400;
}

.condition{
    display: flex;
    gap: 70px;
    align-items: center;
    justify-content: center;
}

.condition h1{
    font-size: 55px;
    font-weight: 400;
}

.condition i{
    font-size: 50px;
}

.weather .metar{
    display: flex;
    justify-content: start;
    font-size: 13px;
    font-weight: 400;
}

.separator{
    border: 0;
    height: 2px;
    border:1.5px solid #00feba;
    margin: 20px 0;
}

.wind{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 45px;
    font-size: 18px;
    font-weight: 400;
}

.wind .speed{
    margin-left: 15px;
}

.barometer {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 18px;
    font-weight: 400;
    gap: 100px;
    padding:15px 0 0 35px;
}

.barometer i{
    margin-left: 10px;
}

.separator-gray{
    color: #e5e7eb;
    margin-top: 10px;
}

.visibility {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 18px;
    font-weight: 400;
    gap: 115px;
    padding:15px 0 0 35px;
}

.visibility i{
    margin-left: 10px;
}

.dew {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 18px;
    font-weight: 400;
    gap: 115px;
    padding:15px 0 0 35px;
}

.dew i{
    margin-left: 10px;
}

.ceiling {
    display: flex;
    align-items: center;
    justify-content: start;
    font-size: 18px;
    font-weight: 400;
    gap: 115px;
    padding:15px 0 0 35px;
}

.ceiling i{
    margin-left: 10px;
}


